@tailwind base;
@tailwind components;
@tailwind utilities;

#toast-container-main {
  top: 25px;
  right: 10px;
  width: 384px;
  display: flex;
  position: fixed;
  z-index: 9999999;
  flex-direction: column;
}

#toast-container-main > div {
  width: 100%;
  display: flex;
  min-height: 50px;
  padding: 8px 16px;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
}

.toast-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  @apply text-xs py-0;
}